* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header
{
  background-image:url("https://i.pinimg.com/1200x/3a/06/ba/3a06ba72cdf316c2412ce0a6fad19dbe.jpg");
  height: 60vh;
  background-size: auto;       
  background-position: center; 
  background-repeat: no-repeat; 
  background-color: rgb(181, 173, 173);
}
.logo
{
  justify-content: flex-start;
  margin: auto;
  margin-left: 20px;  
  font-weight: bolder;  
}
.h1
{
  text-align: center;
  font-size: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: rgb(206, 118, 50);
}
.pre
{
  text-align: center;
  font-weight: bold;
  color: rgb(206, 118, 50);
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}  
.center
{
    text-align: center;
    padding: 35px;
    text-transform: capitalize;
    color: #542c0d;
    font-weight: bolder;
    font-size: larger;
    text-decoration:underline;
}
.h2
{
  padding: 20px;
}  

body {
  font-family: Arial, sans-serif;
  background-color: #f4f8f4;
}

/* Heading */
h2 {
  text-align: center;
  color: #2e7d32;
  font-size: 36px;
  margin-bottom: 10px;
}

/* Subtitle */
.subtitle {
  text-align: center;
  color: #555;
  font-size: 16px;
  margin: 10px;
}

/* Cards container */
.cards {
  max-width: 1200px;
  margin-top: 0px;
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 70px;
  padding-top:0px ;
  padding: 80px;
}

/* Individual card */
.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 14px;
   border-top: 5px solid #6d4c41;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect */
.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 -10px 18px rgba(0, 0, 0, 0.2);
}

/* Product image */
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* Product title */
.card h3 {
  color: #388e3c;
  margin-bottom: 8px;
  font-size: 20px;
}

/* Product description */
.card p {
  color: #666;
  font-size: 14px;
  margin-bottom: 10px;
}

/* Price tag */
.price {
  display: block;
  font-weight: bold;
  color: #2e7d32;
  font-size: 16px;
  margin-bottom: 15px;
}

/* Button */
.btn {
  display: inline-block;
  text-decoration: none;
  background-color: #2e7d32;
  color: #ffffff;
  padding: 10px 18px;
  border-radius: 25px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

/* Button hover */
.btn:hover {
  background-color: #c5dbc7;
}
footer
{
  text-align: center;
  background-color: #2f7d32;
  padding: 1px;
  font-size: 15px;
  font-weight: bold;
  margin: auto;
}
