*{
    margin: 0%;
}
body
{
  background-color:rgb(255, 255, 255); 
}      
.decor
{
   display: flex;
   text-align: center; 
   text-indent: 50px;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bolder;
   color: rgba(19, 6, 4, 0.943);
   justify-content: space-between;
   margin-right: 40px;
   position: sticky;
}
h1
{
    font-weight:900;
}
nav a
{
    color:rgb(8, 4, 4);
    font-size: larger;
    justify-content: flex-end; 
    text-decoration: none;
    margin-top: 50px;
}
a:hover
{
    color: rgb(98, 42, 7);
}
.logo
{
    justify-content: flex-start;
    margin: auto;
    margin-left: 0px; 
    font-weight: bolder;

}
.display
{
  display: flex;         
  gap: 10px;
  border-style: ridge ;
  margin-top: auto;
  height: 50vh;
  }

.img1
{

    height: 30vh;           
    margin: 30px;
    width: 250px; 
    border-radius: 12px;
    transform: rotate(3deg);
}
.img2
{
    height: 30vh;           
    margin: 30px;
    width: 250px; 
    border-radius: 12px;
    transform: rotate(3deg); 
}
.img3
{
    height: 30vh; 
    width: 250px;          
    margin: 30px;
    border-radius: 12px;
    transform: rotate(3deg); 
}
.img4
{
    height: 30vh; 
    width: 250px;          
    margin: 30px;
    border-radius: 12px;
    transform: rotate(3deg); 
}
header{
     height: 70vh;
     
    background:
        linear-gradient(rgba(47,125,50,0.8), rgba(109,76,65,0.7)),
        url("https://images.unsplash.com/photo-1501004318641-b39e6451bec6");
    background-size: cover;
    background-position: center ;
    
    color: white;
    margin: 0px;
}
.para
{
    text-align: center;
    font-style:oblique;
    padding-top: 100px ;
    text-align: center;
    margin: auto;
}
h2
{
    font-size:50px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 5px;
}
.para p
{
margin-top: auto;
}
.para a
{
    margin-top: 12px;
    display: inline-block;
    background: #ffffff;
    color: #2f7d32;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}
footer
{
    text-align: center;
    background-color: #2f7d32;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    margin: auto;
}
h3
{
 text-align: center;
 padding: 12px;
 font-display: block;
 font-weight: bolder;
}
.contact 
{
    text-align: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2s-OTp-9-fq3WXzV92yQRg4Sq4_jzYEp74g&s");
    background-size: cover;
    padding: 12px;
   text-indent: 20px;
   color: rgb(39, 29, 11);
}
.email
{

    text-align: left;
    padding-left: 300px;
    text-indent: 20px;
}
.phone
{
    text-align: left;
    padding-left:700px;
    text-indent: 20px;
}
.location
{
   text-align: center;
    text-indent: 20px;
}
.about
{
    color:rgba(97, 51, 8, 0.932);
    font-size:50px;
    text-align: center;
    padding: 10px;
    margin: 70px;
    padding-left: 260px;
    
}
.body1
{
    display: flex;
    background-image: url("https://images.unsplash.com/photo-1546146830-2cca9512c68e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDd8fHByb2dyYW1taW5nfGVufDB8fDB8fHww");
    background-size: cover;
}
.pre1
{
    text-align: center;
    color:rgb(0, 0, 0);
    padding: 30px;
    padding-bottom: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-indent: 10px;
}
.logo1
{
    text-align: left;
    padding: 20px ;
}
.head1
{
   text-align: center;
   font-size: 30px;
   padding: 30px;
   font-family: 'Courier New', Courier, monospace;

}